[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
"cv2" = "*"
matplotlib = "*"
opencv-python = "*"
tensorflow-gpu = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.6"
